NEXT_PUBLIC_ATLAS_CONTACT_EMAIL=hello@atlasglobal.digital
NEXT_PUBLIC_ATLAS_BOOKING_URL=
NEXT_PUBLIC_ATLAS_WHATSAPP_URL=
NEXT_PUBLIC_ATLAS_LINKEDIN_URL=
NEXT_PUBLIC_ATLAS_X_URL=
NEXT_PUBLIC_ATLAS_YOUTUBE_URL=
